<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AVERAGE</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
</head>
<body>
    <h1>This is the grade´s average</h1>
    <table>
        <tr>
            <th>GRADE´SAVERAGE</th>
        </tr>
        <tr>
            <th><%=average%></th>
        </tr>
    </table>
    <a href="/students">Go back to the list!</a>
</body>
</html>