<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to Students of a class App!!</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
</head>
<body>
<h1>Welcome to Students of a class App!!</h1>
<a href="students">Click to see the list of your students!</a>
</body>
</html>